#c1 {
   background-color: pink;
}

#c2 {
  background-color: ;
}

#c3 {
  background-color: green;
}

#leftnav {
  background-color: lightblue;
}

#topbar {
  border-style: solid;
  border-width: medium;
}
